--extra-index-url https://download.pytorch.org/whl/cu128
-c constraints.txt
absl-py==2.3.1
accelerate==1.10.0
aenum==3.1.16
aiobotocore==2.17.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aiosignal==1.4.0
alembic==1.16.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.10.0
argbind==0.3.9
astor==0.8.1
asttokens==3.0.0
attrs==25.3.0
audioread==3.0.1
autoawq==0.2.9
autopep8==2.3.2
av==15.1.0
backoff==2.2.1
bandit==1.7.7
blake3==1.0.5
blobfile==3.0.0
boto3==1.35.36
botocore==1.35.93
build==1.3.0
cachetools==6.2.0
cbor2==5.7.0
certifi==2025.8.3
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.3
choreographer==1.0.10
click==8.1.8
click-option-group==0.5.7
cloudpickle==3.1.1
cmake==4.1.0
colorama==0.4.6
colored==2.3.1
coloredlogs==15.0.1
colorlog==6.9.0
compressed-tensors==0.10.0
conan==2.14.0
contourpy==1.3.3
coverage==7.10.5
cppimport==22.8.2
cramjam==2.11.0
cuda-bindings==12.9.2
cuda-pathfinder==1.1.0
cuda-python==12.9.2
cupy-cuda12x==13.6.0
cycler==0.12.1
dac==0.4.3
dacite==1.9.2
dataproperty==1.1.0
datasets==3.1.0
decorator==5.2.1
depyf==0.19.0
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
diffusers==0.35.1
dill==0.3.8
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
dllist==2.0.0
docstring-parser==0.17.0
einops==0.8.1
einx==0.3.0
etcd3==0.12.0
evaluate==0.4.5
execnet==2.1.1
executing==2.2.0
fastapi==0.115.4
fastembed==0.7.2
fasteners==0.20
fastparquet==2024.11.0
fastrlock==0.8.3
ffmpy==0.6.1
filelock==3.19.1
fire==0.7.1
flashinfer-python==0.2.6.post1+cu128torch2.7
flatbuffers==25.2.10
flatten-dict==0.4.2
fonttools==4.59.1
frozendict==2.4.6
frozenlist==1.7.0
fsspec==2025.9.0
future==1.0.0
genai-perf==0.0.13
genson==1.3.0
gguf==0.17.1
git-filter-repo==2.47.0
graphviz==0.21
greenlet==3.2.4
grpcio==1.74.0
h11==0.16.0
h2==4.3.0
h5py==3.12.1
hf-xet==1.1.9
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.0rc0
humanfriendly==10.0
hyperframe==6.1.0
hyperpyyaml==1.2.2
identify==2.6.13
idna==3.10
importlib-metadata==8.7.0
importlib-resources==6.5.2
iniconfig==2.1.0
ipython==9.4.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
jieba==0.42.1
jinja2==3.1.6
jiter==0.10.0
jiwer==4.0.0
jmespath==1.0.1
joblib==1.5.1
json-repair==0.50.0
jsonlines==4.0.0
jsonpath-ng==1.7.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
julius==0.2.7
kaleido==1.0.0
kiwisolver==1.4.9
langid==1.1.6
lark==1.2.2
lazy-loader==0.4
librosa==0.11.0
llguidance==0.7.29
jsonschema
backoff
nvtx
matplotlib # FIXME: this is added to make nvtx happy
meson
ninja
etcd3
blake3
soundfile
triton==3.3.1; platform_machine == "x86_64"
tiktoken
blobfile
