--extra-index-url https://download.pytorch.org/whl/cu128
absl-py==2.3.1
accelerate==1.10.0
aenum==3.1.16
aiobotocore==2.17.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aiosignal==1.4.0
alembic==1.16.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.10.0
argbind==0.3.9
astor==0.8.1
asttokens==3.0.0
attrs==25.3.0
audioread==3.0.1
autoawq==0.2.9
autopep8==2.3.2
av==15.1.0
backoff==2.2.1
bandit==1.7.7
blake3==1.0.5
blobfile==3.0.0
boto3==1.35.36
botocore==1.35.93
build==1.3.0
cachetools==6.2.0
cbor2==5.7.0
certifi==2025.8.3
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.3
choreographer==1.0.10
click==8.1.8
click-option-group==0.5.7
cloudpickle==3.1.1
cmake==4.1.0
colorama==0.4.6
colored==2.3.1
coloredlogs==15.0.1
colorlog==6.9.0
compressed-tensors==0.10.0
conan==2.14.0
contourpy==1.3.3
coverage==7.10.5
cppimport==22.8.2
cramjam==2.11.0
cuda-bindings==12.9.2
cuda-pathfinder==1.1.0
cuda-python==12.9.2
cupy-cuda12x==13.6.0
cycler==0.12.1
dac==0.4.3
dacite==1.9.2
dataproperty==1.1.0
datasets==3.1.0
decorator==5.2.1
depyf==0.19.0
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
diffusers==0.35.1
dill==0.3.8
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
dllist==2.0.0
docstring-parser==0.17.0
einops==0.8.1
einx==0.3.0
etcd3==0.12.0
evaluate==0.4.5
execnet==2.1.1
executing==2.2.0
fastapi==0.115.4
fastembed==0.7.2
fasteners==0.20
fastparquet==2024.11.0
fastrlock==0.8.3
ffmpy==0.6.1
filelock==3.19.1
fire==0.7.1
flashinfer-python==0.2.6.post1+cu128torch2.7
flatbuffers==25.2.10
flatten-dict==0.4.2
fonttools==4.59.1
frozendict==2.4.6
frozenlist==1.7.0
fsspec==2025.9.0
future==1.0.0
genai-perf==0.0.13
genson==1.3.0
gguf==0.17.1
git-filter-repo==2.47.0
graphviz==0.21
greenlet==3.2.4
grpcio==1.74.0
h11==0.16.0
h2==4.3.0
h5py==3.12.1
hf-xet==1.1.9
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.0rc0
humanfriendly==10.0
hyperframe==6.1.0
hyperpyyaml==1.2.2
identify==2.6.13
idna==3.10
importlib-metadata==8.7.0
importlib-resources==6.5.2
iniconfig==2.1.0
ipython==9.4.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
jieba==0.42.1
jinja2==3.1.6
jiter==0.10.0
jiwer==4.0.0
jmespath==1.0.1
joblib==1.5.1
json-repair==0.50.0
jsonlines==4.0.0
jsonpath-ng==1.7.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
julius==0.2.7
kaleido==1.0.0
kiwisolver==1.4.9
langid==1.1.6
lark==1.2.2
lazy-loader==0.4
librosa==0.11.0
llguidance==0.7.29
llvmlite==0.44.0
lm-eval==0.4.8
logistro==1.1.0
loguru==0.7.3
lxml==6.0.1
mako==1.3.10
markdown==3.8.2
markdown-it-py==4.0.0
markdown2==2.5.4
markupsafe==3.0.2
matplotlib==3.10.5
matplotlib-inline==0.1.7
mbstrdecoder==1.1.4
mdurl==0.1.2
meson==1.9.0
mmh3==5.2.0
more-itertools==10.7.0
mpi4py==3.1.6
mpmath==1.3.0
msgpack==1.1.1
msgspec==0.19.0
multidict==6.6.4
multiprocess==0.70.16
mypy==1.17.1
mypy-extensions==1.1.0
narwhals==2.1.2
networkx==3.5
ninja==1.13.0
nltk==3.9.1
nodeenv==1.9.1
numba==0.61.2
numexpr==2.11.0
numpy==2.2.0
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-runtime-cu12==12.8.57
nvidia-cuda-runtime-cu13==0.0.0a0
nvidia-cudnn-cu12==9.7.1.26
nvidia-cudnn-frontend==1.14.0
nvidia-cufft-cu12==11.3.3.41
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu12==10.3.9.55
nvidia-cusolver-cu12==11.7.2.55
nvidia-cusparse-cu12==12.5.7.53
nvidia-cusparselt-cu12==0.6.3
nvidia-ml-py==12.575.51
nvidia-modelopt==0.29.0
nvidia-modelopt-core==0.29.0
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu12==12.8.55
nvtx==0.2.13
omegaconf==2.3.0
onnx==1.18.0
onnx-graphsurgeon==0.5.8
onnxconverter-common==1.15.0
onnxruntime==1.22.1
onnxruntime-gpu==1.20.2
openai==1.101.0
opencv-python-headless==4.11.0.86
optimum==1.27.0
optuna==3.6.1
ordered-set==4.1.0
orjson==3.11.2
outlines==1.2.4
outlines-core==0.2.11
oyaml==1.0
packaging==25.0
pandas==2.3.2
parameterized==0.9.0
parso==0.8.5
partial-json-parser==0.2.1.1.post6
patch-ng==1.18.1
pathspec==0.12.1
pathvalidate==3.3.1
patsy==1.0.1
pbr==7.0.1
peft==0.17.1
pexpect==4.9.0
pillow==11.0.0
pip==25.2
platformdirs==4.3.8
plotly==6.3.0
pluggy==1.6.0
ply==3.11
polygraphy==0.49.26
pooch==1.8.2
portalocker==3.2.0
pre-commit==4.3.0
prometheus-client==0.22.1
prometheus-fastapi-instrumentator==7.1.0
prompt-toolkit==3.0.51
propcache==0.3.2
protobuf==6.32.0
psutil==7.0.0
ptyprocess==0.7.0
pulp==3.2.2
pure-eval==0.2.3
py==1.11.0
py-cpuinfo==9.0.0
py-rust-stemmers==0.1.5
pyarrow==21.0.0
pybase64==1.4.2
pybind11==3.0.1
pybind11-stubgen==2.5.5
pycodestyle==2.14.0
pycparser==2.22
pycryptodomex==3.23.0
pycuda==2025.1.1
pydantic==2.12.0a1
pydantic-core==2.37.2
pydantic-settings==2.10.1
pydub==0.25.1
pygments==2.19.2
pyloudnorm==0.1.1
pynvml==12.0.0
pyparsing==3.2.3
pyproject-hooks==1.2.0
pystoi==0.4.1
pytablewriter==1.2.1
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.2.1
pytest-csv==3.0.0
pytest-env==1.1.5
pytest-forked==1.6.0
pytest-mock==3.14.1
pytest-rerunfailures==15.1
pytest-split==0.10.0
pytest-threadleak==0.5.0
pytest-timeout==2.4.0
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-rapidjson==1.21
pytools==2025.2.2
pytz==2025.2
pyyaml==6.0.2
pyzmq==27.0.2
qdrant-client==1.15.1
randomname==0.2.1
rapidfuzz==3.14.0
referencing==0.36.2
regex==2025.9.1
requests==2.32.5
responses==0.25.8
rich==14.1.0
rouge==1.0.1
rouge-score==0.1.2
rpds-py==0.27.0
ruamel-yaml==0.18.15
ruamel-yaml-clib==0.2.12
ruff==0.9.4
s3fs==2025.7.0
s3transfer==0.10.4
sacrebleu==2.5.1
safetensors==0.6.2
scikit-learn==1.7.1
scipy==1.16.1
sentencepiece==0.2.1
setproctitle==1.3.7
setuptools==80.9.0
shellingham==1.5.4
silero-vad==6.0.0
simplejson==3.20.1
siphash24==1.7
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.2
soundfile==0.13.1
soxr==0.5.0.post1
sqlalchemy==2.0.43
sqlitedict==2.1.0
stack-data==0.6.3
starlette==0.41.3
statsmodels==0.14.5
stevedore==5.4.1
strenum==0.4.15
sympy==1.14.0
tabledata==1.3.4
tabulate==0.9.0
tcolorpy==0.1.7
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorrt==10.12.0.36
tensorrt-cu12==10.12.0.36
tensorrt-cu12-bindings==10.12.0.36
tensorrt-cu12-libs==10.12.0.36
tensorrt-cu13==10.13.2.6
tensorrt-cu13-bindings==10.13.2.6
tensorrt-cu13-libs==10.13.2.6
tensorrt-llm==0.20.0
tensorrt-llm==1.1.0rc1
termcolor==3.1.0
threadpoolctl==3.6.0
tiktoken==0.11.0
tokenizers==0.21.4
toml==0.10.2
torch==2.7.1+cu128
torch-stoi==0.2.3
torch-tensorrt==2.8.0+cu129
torchaudio==2.7.1+cu128
torchprofile==0.0.4
torchvision==0.22.1+cu128
tornado==6.5.2
tqdm==4.67.1
tqdm-multiprocess==0.0.11
traitlets==5.14.3
transformers==4.54.0
triton==3.3.1
tritonclient==2.59.0
typepy==1.3.4
typer==0.15.4
typing-extensions==4.15.0
typing-inspection==0.4.1
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.35.0
uvloop==0.21.0
vector-quantize-pytorch==1.23.1
virtualenv==20.34.0
watchfiles==1.1.0
wayland==0.1.0
wcwidth==0.2.13
werkzeug==3.1.3
wheel==0.45.1
word2number==1.1
wrapt==1.17.3
xgrammar==0.1.16
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.24.0
